snippet state "State Machine" b
impl From<TAPController<$1>> for TAPController<$2> {
    fn from(val: TAPController<$1>) -> TAPController<$2> {
        TAPController {
            tap: val.tap,
            state: $2,
        }
    }
}
endsnippet
